// palette:
// #222831
// #393E46
// #FFD369
// #EEEEEE

$dark-background-color: #222831;
$dark-text-color: #EEEEEE;
$dark-header-background: #393E46;
$dark-border-color: #393E46;
$dark-link-color: #FFD369;
$dark-code-background: #222831;
$dark-card-background: #222831; 
